* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.main {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.background {
    background: radial-gradient(circle at center, #ff0000 0%, #b30000 70%, #800000 100%);
    height: 100vh;
}

.first-interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
    cursor: pointer;
}

.first-interface p {
    color: gold;
    font-size: 2rem;
}

.bubble {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    filter: blur(15px);
    animation: fade-pulse 6s ease-in-out;
    animation-iteration-count: 6;
    opacity: 0;
}

.b1 {
    width: 150px;
    height: 150px;
    top: 10%;
    right: 15%;
    animation-delay: 0s;
}

.b2 {
    width: 100px;
    height: 100px;
    top: 25%;
    right: 5%;
    animation-delay: 2s;
}

.b3 {
    width: 180px;
    height: 180px;
    bottom: 10%;
    right: 20%;
    animation-delay: 2.5s;
}

.b4 {
    width: 80px;
    height: 80px;
    top: 50%;
    right: 30%;
    animation-delay: 4s;
}

.b5 {
    width: 120px;
    height: 120px;
    bottom: 30%;
    right: 10%;
    animation-delay: 3s;
}

.b6 {
    width: 50px;
    height: 50px;
    top: 10%;
    left: 15%;
    animation-delay: 0s;
}

.b7 {
    width: 180px;
    height: 180px;
    top: 25%;
    left: 5%;
    animation-delay: 2s;
}

.b8 {
    width: 170px;
    height: 170px;
    bottom: 5%;
    left: 30%;
    animation-delay: 1s;
}

.b9 {
    width: 60px;
    height: 60px;
    top: 40%;
    left: 20%;
    animation-delay: 4s;
}

.b10 {
    width: 130px;
    height: 130px;
    bottom: 20%;
    left: 10%;
    animation-delay: 3s;
}

.heart {
  position: absolute;
  width: 50px;
  height: 40px;
  opacity: 0;
  animation: heart-float 6s infinite ease-in-out;
  filter: blur(4px); /* Adjust blur for "bokeh" depth */
}

/* Creating the heart shape using pseudo-elements */
.heart::before,
.heart::after {
  content: "";
  position: absolute;
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: rgba(255, 192, 203); /* Soft pink tint */
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.h1 {  top: 30%; left: 46.5%; animation-delay: 36s; }
.h2 {  top: 15%; left: 35%; animation-delay: 36.5s; }
.h3 {  top: 15%; right: 39%; animation-delay: 36.5s; }
.h4 {  top: 26%; left: 25%; animation-delay: 37s; }
.h5 {  top: 26%; right: 29%; animation-delay: 37s; }
.h6 {  top: 48%; left: 28%; animation-delay: 37.5s; }
.h7 {  top: 48%; right: 32%; animation-delay: 37.5s; }
.h8 {  top: 67%; left: 35%; animation-delay: 38s; }
.h9 {  top: 67%; right: 39%; animation-delay: 38s; }
.h10 {  bottom: 12%; left: 46.5%; animation-delay: 38.5s; }

@keyframes fade-pulse {

    0%,
    100% {
        opacity: 0;
        transform: scale(0.9) translateY(0);
    }

    50% {
        opacity: 0.4;
        transform: scale(1.1) translateY(-20px);
    }
}

@keyframes heart-float {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.9);
  }
  30%, 70% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: translateY(-10px) scale(1.2);
  }
}

@media (max-width: 1000px) {
    .b1 { width: 130px; height: 130px; top: 10%; right: 15%; animation-delay: 0s; }
    .b2 { width: 85px; height: 85px; top: 25%; right: 5%; animation-delay: 2s; }
    .b3 { width: 150px; height: 150px; bottom: 10%; right: 20%; animation-delay: 2.5s; }
    .b4 { width: 65px; height: 65px; top: 50%; right: 30%; animation-delay: 4s; }
    .b5 { width: 100px; height: 100px; bottom: 30%; right: 10%; animation-delay: 3s; }
    .b6 { width: 40px; height: 40px; top: 10%; left: 15%; animation-delay: 0s; }
    .b7 { width: 160px; height: 160px; top: 25%; left: 5%; animation-delay: 2s; }
    .b8 { width: 130px; height: 130px; bottom: 5%; left: 30%; animation-delay: 1s; }
    .b9 { width: 50px; height: 50px; top: 40%; left: 20%; animation-delay: 4s; }
    .b10 { width: 115px; height: 115px; bottom: 20%; left: 10%; animation-delay: 3s; }

    .h1 {  top: 30%; left: 45%; scale: 0.8; }
    .h2 {  top: 15%; left: 30%; scale: 0.8; }
    .h3 {  top: 15%; right: 35%; scale: 0.8; }
    .h4 {  top: 28%; left: 20%; scale: 0.8; }
    .h5 {  top: 28%; right: 23%; scale: 0.8; }
    .h6 {  top: 45%; left: 25%; scale: 0.8; }
    .h7 {  top: 45%; right: 28%; scale: 0.8; }
    .h8 {  top: 62%; left: 32%; scale: 0.8; }
    .h9 {  top: 62%; right: 35%; scale: 0.8; }
    .h10 {  bottom: 18%; left: 45%; scale: 0.8; }
}

@media (max-width: 750px) {
    .b1 { width: 110px; height: 110px; top: 10%; right: 15%; animation-delay: 0s; }
    .b2 { width: 70px; height: 70px; top: 25%; right: 5%; animation-delay: 2s; }
    .b3 { width: 120px; height: 120px; bottom: 10%; right: 20%; animation-delay: 2.5s; }
    .b4 { width: 50px; height: 50px; top: 50%; right: 30%; animation-delay: 4s; }
    .b5 { width: 80px; height: 80px; bottom: 30%; right: 10%; animation-delay: 3s; }
    .b6 { width: 30px; height: 30px; top: 10%; left: 15%; animation-delay: 0s; }
    .b7 { width: 145px; height: 145px; top: 25%; left: 5%; animation-delay: 2s; }
    .b8 { width: 90px; height: 90px; bottom: 5%; left: 30%; animation-delay: 1s; }
    .b9 { width: 40px; height: 40px; top: 40%; left: 20%; animation-delay: 4s; }
    .b10 { width: 100px; height: 100px; bottom: 20%; left: 10%; animation-delay: 3s; }

    .h1 {  top: 30%; left: 44%; scale: 0.6; }
    .h2 {  top: 15%; left: 27%; scale: 0.6; }
    .h3 {  top: 15%; right: 32%; scale: 0.6; }
    .h4 {  top: 28%; left: 15%; scale: 0.6; }
    .h5 {  top: 28%; right: 19%; scale: 0.6; }
    .h6 {  top: 45%; left: 20%; scale: 0.6; }
    .h7 {  top: 45%; right: 24%; scale: 0.6; }
    .h8 {  top: 62%; left: 29%; scale: 0.6; }
    .h9 {  top: 62%; right: 33%; scale: 0.6; }
    .h10 {  bottom: 18%; left: 44%; scale: 0.6; }
}

@media (max-width: 500px) {
    .b1 { width: 90px; height: 90px; top: 10%; right: 15%; animation-delay: 0s; }
    .b2 { width: 50px; height: 50px; top: 25%; right: 5%; animation-delay: 2s; }
    .b3 { width: 100px; height: 100px; bottom: 10%; right: 20%; animation-delay: 2.5s; }
    .b4 { width: 30px; height: 30px; top: 50%; right: 30%; animation-delay: 4s; }
    .b5 { width: 70px; height: 70px; bottom: 30%; right: 10%; animation-delay: 3s; }
    .b6 { width: 20px; height: 20px; top: 10%; left: 15%; animation-delay: 0s; }
    .b7 { width: 130px; height: 130px; top: 25%; left: 5%; animation-delay: 2s; }
    .b8 { width: 70px; height: 70px; bottom: 5%; left: 30%; animation-delay: 1s; }
    .b9 { width: 30px; height: 30px; top: 40%; left: 20%; animation-delay: 4s; }
    .b10 { width: 80px; height: 80px; bottom: 20%; left: 10%; animation-delay: 3s; }

    .h1 {  top: 31%; left: 41%; scale: 0.5; }
    .h2 {  top: 16%; left: 21%; scale: 0.5; }
    .h3 {  top: 16%; right: 29%; scale: 0.5; }
    .h4 {  top: 28%; left: 8%; scale: 0.5; }
    .h5 {  top: 28%; right: 15%; scale: 0.5; }
    .h6 {  top: 43%; left: 15%; scale: 0.5; }
    .h7 {  top: 43%; right: 22%; scale: 0.5; }
    .h8 {  top: 57%; left: 24%; scale: 0.5; }
    .h9 {  top: 57%; right: 31%; scale: 0.5; }
    .h10 {  bottom: 25%; left: 41%; scale: 0.5; }
}